#main{text-align:center;margin-bottom: 30px;margin-top:20px}
textarea{width:100%;height:400px;}
.btn-block{margin-top:20px;}
::-webkit-scrollbar {
    z-index: 30;
    width: 8px;
    height: 0;
    y-index: hidden;
}
::-webkit-scrollbar:hover {
    width: 12px;
}
.btn-outline-success{margin-left:10px;}
::-webkit-scrollbar-track {
    background-color: #2b2e33;
}

::-webkit-scrollbar-thumb {
    background-color: #666;
}

#scroll-to-top {
	color:grey;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    bottom: 50px;
    right: 50px;
    position: fixed;
    box-shadow: 0 0 10px #000;
    text-align: center;
    font-size: 16px;
	line-height: 2.8;
}

#scroll-to-top:hover {
    box-shadow: 0 0 20px #000;
}

.red{color:red}
.green{color:green}

.h-200{height:200px}
.mt-20{margin-top:20px}
.mb-20{margin-bottom:20px}
.w-100{width:100%}

@font-face {
  font-family: 'fontello';
  src: url('../fonts/fontello.eot?93905694');
  src: url('../fonts/fontello.eot?93905694#iefix') format('embedded-opentype'),
       url('../fonts/fontello.woff2?93905694') format('woff2'),
       url('../fonts/fontello.woff?93905694') format('woff');
  font-weight: normal;
  font-style: normal;
}
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: .2em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
 
.icon-up-open:before { content: '\e800'; } /* '' */